@font-face {
  font-family: "SF";
  src: url('SFPRODISPLAYREGULAR.OTF');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F7;
  font-family: 'SF';
}

ul {
  display: inline-flex;
  gap: 30px;
  list-style-type: none;
}

#logo {
  width: 20px;
  margin-right: 50px;
  transition: 0.4s;
}

#logo:hover {
  filter: brightness(0);
}

header {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #585858;
}

li {
  transition: 0.4s;
}

li:hover {
  color: black;
}

#title {
  padding: 90px 10px 10px 120px;
  color: #1D1D1F;
}

#titledois {
  color: #6E6E73;
}
 
#title {
  font-size: 45px;
}

#box {
  display: inline-flex;
  padding: 50px 0px 30px 100px;
}

.container {
  margin-left: 20px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  background-color: #b9b9b99c;
}

.container > p {
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.container > p:hover {
  text-decoration: underline;
}

#novidade {
  padding: 90px 10px 10px 120px;
  font-size: 30px;
}

#titletres {
  color: #6E6E73;
}

.containerdois {
  display: inline-flex;
  padding: 50px 0px 30px 100px;
  gap: 20px;

}

.containerdois div {
    transition: 0.25s;
}

.containerdois div:hover {
  box-shadow: 2px 4px 12px #00000014;
  transform: scale(1.015);
}

.content {
  height: 500px;
  width: 400px;
  background-color: #ffffff;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 2px 14px 12px #00000014;
}

#ajuda {
  padding: 40px 10px 10px 120px;
  font-size: 30px;
}

#quando {
  color: #6E6E73; 
}

.containertres {
  display: inline-flex;
  padding: 50px 0px 30px 100px;
  gap: 20px;
}

.containertres div {
  transition: 0.4s;
}

.containertres div:hover {
box-shadow: 2px 4px 12px #00000014;
transform: scale(1.01);
}


.contenttres {
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 2px 14px 12px #00000014;
}

.sectioncontainer {
  display: flex
}

#search {
  width: 15px;
  margin-left: 40px;
}

#um {
  background-image: url('um.png');
  background-size: 100px;
  background-color: #F5F5F7;
  background-repeat: no-repeat;
}

#dois {
  background-image: url('2.png');
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F7;
}

#tres {
  background-image: url('3.png');
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F7;
}

#quatro {
  background-image: url('4.png');
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F7;
}

#cinco {
  background-image: url('5.png');
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F7;
}

#seis {
  background-image: url('6.png');
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F7;
  background-color: #F5F5F7;
}

#sete {
  background-image: url('7.png');
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F7;
}

#oito {
  background-image: url('8.png');
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F5F7;
}

.containerdois {
  background-position: center;
  background-repeat: no-repeat;
}

#card1 {
  color: white;
  padding: 30px;
  font-size: 13px;
  background-image: url('store-card-1.jfif');
  background-size: cover;
  background-position: center;
}

#card2 {
  padding: 30px;
  font-size: 13px;
  background-image: url('store-card-2.jfif');
  background-size: cover;
  background-position: center;
}

#card3 {
  padding: 30px;
  font-size: 13px;
  background-image: url('store-card-3.jfif');
  background-size: cover;
  background-position: center;
}

#card4 {
  color: white;
  padding: 30px;
  font-size: 13px;
  background-image: url('store-card-4.jfif');
  background-size: cover;
  background-position: center;
}

#help1 {
  background-image: url('help-card-1.jfif');
  background-size: cover;
  background-position: center;
}

#help2 {
  background-image: url('help-card-2.jfif');
  background-size: cover;
  background-position: center;
}

#help3 {
  background-image: url('help-card-3.jfif');
  background-size: cover;
  background-position: center;
}

#help4 {
  background-image: url('help-card-4.jfif');
  background-size: cover;
  background-position: center;
}

@media (max-width: 830px) {
  ul {
    display: none;
  }

  header {
    justify-content: space-between;
    margin: 0px 15px;
  }
}